<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="./static/styles.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script type="module" src="./static/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="module" src="./static/text_output.js"></script>
  </head>

  <body>
      <b>
      <a href="/info"> Info // </a>
      <a href="/contact"> Contact //  </a>
      <a href="/sign-up"> Sign Up //</a> </br>
      <div><h1 class="welcome-title"> Welcome to my website!</h1></div>
      </b>

      <form id="text-form" method="POST">
        <label for="input-string"><b>Enter text</b></label></br>
        <input placeholder='How can I help you?' id="text-input-string" size="48">  </input>
        <button type="submit">Submit</button>
      </form></br>

      <div>
        <b>Input: </b>
        {% if i_string%}
          {{i_string}}
        {% endif %}
      </div>

      <b>Output: </b>
      <div id="text_output">
        {% if output_text %}
          {{ output_text }}
        {% endif %}
      </div></br></br></br>

        <form id="map_form" method="POST">
            <label for="map-input"><b>Search the map</b></label></br>
            <input type=text placeholder='What are you looking for?' id="map-input" size="48">
            <input type="submit" name="map-input"></input>
        </form>
        </body></br>

      <div id="map">
      </div>
      <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmY-8fqn35ECejZjfDNWTTkVzUMo32xB0&callback=initMap"
      defer
      >
      </script>

  </body>
</html>
