<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
  </head>
  <body>
      <a href="/info"> Info / </a>
      <a href="/contact"> Contact / </a>
      <a href="/sign-up"> Sign Up </a> </br></br>
      <div><b> Welcome to my website!</b><br></div>

      <div> Enter text below: </div>

      <form action="#" method="POST">
      <input placeholder='Input here' name="input-string">  </input>
      <input type="submit"></input>
      </form>

      <!-- <div>
        {% for x in range(5)%}
          </div>{{x}}</div>
        {% endfor %}
      </div> -->
      <div>
        {% if i_string%}
          </div>{{i_string}}</div>
        {% endif %}
      </div>


  </body>
</html>
